<p>
  news-articles works!
</p>
<div>
  <button (click)="showArticleForm()">Add News Articles</button>
  <hr />
  <div *ngIf="addArticleButtonClicked">
    <form>
      <fieldset>
        <label for="title">Article Title</label><br />
        <input name="title" type="text">
      </fieldset>
      <fieldset>
        <label for="url">URL</label><br />
        <input name="url" type="text">
      </fieldset>
      <fieldset>
        <label for="date">Date</label>
        <input name="date" type="date">
      </fieldset>


    </form>
  </div>
</div>
