<div *ngIf="!currentUser">
    <h1>Login</h1>
    <form #loginForm="ngForm" (ngSubmit)="loginUser(userName.value, password.value)" novalidate>
        <fieldset>
            <label for="username">UserName</label>
            <input #userName name="username" type="text" />
        </fieldset>
        <fieldset>
                <label for="password">Password</label>
                <input #password name="password" type="password">
            </fieldset>
        <fieldset>
        </fieldset>
        <button>Submit</button><span><button type="button" routerLink="/register" routerLinkActive="active">Register a New Account</button></span>
    </form>
</div>
