<div class="container">
    <div class="messageList">
        <div *ngIf="messages?.length === 0">
            <p>No messages yet. Go ahead and send one ya dummy</p>
        </div>
        <div class="messageColor" *ngFor="let message of messages">
            <div class="message" *ngIf="editMessageId !== message.id">
                <div class="messageContent">
                    <p>{{ message.message }}</p>
                    <p>User: {{ message.username }}</p>
                </div>
                <div class="messageButtons">
                    <button
                        *ngIf="
                            message.username == 'Admin' &&
                            editMessageId !== message.id
                        "
                        (click)="toggleEdit(message.id)"
                        class="btn btn-warning btn-sm"
                    >
                        Edit
                    </button>
                    <button
                        *ngIf="message.username == 'Admin'"
                        (click)="deleteMessage(message.id)"
                        class="btn btn-danger btn-sm"
                    >
                        Delete
                    </button>
                </div>
            </div>

            <div class="message" *ngIf="editMessageId === message.id">
                <div class="messageContent">
                    <input
                        #editedMessage
                        type="text"
                        value="{{ message.message }}"
                    />
                </div>
                <div class="messageButtons">
                    <button
                        *ngIf="
                            message.username == 'Admin' &&
                            editMessageId === message.id
                        "
                        (click)="editMessage(editedMessage.value, message.id)"
                        class="btn btn-warning btn-sm"
                    >
                        Save
                    </button>
                    <button
                        *ngIf="message.username == 'Admin'"
                        (click)="editMessageId = 0"
                        class="btn btn-danger btn-sm"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="messageFooter">
        <input id="newMessageInput" #newMessage type="text" />
        <button
            class="btn ml-2 btn-sm btn-outline-info"
            (click)="sendMessage(newMessage.value)"
        >
            Send
        </button>
    </div>
</div>
