.messageList {
    width: 45%;
    border: 2px solid lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 1em;
}

.message {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message p {
    margin: 0;
}

.messageColor:nth-child(odd) {
    background-color: #eeeeee;
}

.messageFooter {
    display: flex;
    justify-content: space-between;
    width: 45%;
    background-color: lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.5em;
}
