<div class="container">
    <div class="messageList">
        <div class="message" *ngFor="let message of messages">
            <p>{{ message.message }}</p>
            <p>User: {{ message.username }}</p>
        </div>
    </div>
    <div class="messageFooter">
        <input id="newMessageInput" #newMessage type="text" />
        <button
            class="btn ml-2 btn-sm btn-outline-info"
            (click)="sendMessage(newMessage.value)"
        >
            Send
        </button>
    </div>
</div>
