<div class="container">

  <form #articleForm="ngForm" (ngSubmit)="onSubmit(articleForm)" novalidate>
    <h4>New Article</h4>
    <fieldset>
      <label for="title">Article Title</label><br />
      <input name="title" type="text" [(ngModel)]="article.title">
    </fieldset>
    <fieldset>
      <label for="synopsis">Synopsis</label><br />
      <input name="synopsis" type="text"  [(ngModel)]="article.synopsis">
    </fieldset>
    <fieldset>
      <label for="url">URL</label><br />
      <input name="url" type="url"  [(ngModel)]="article.url">
    </fieldset>
    <fieldset>
      <button>Submit</button>
    </fieldset>
    
  </form>
  
</div>